@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-accent {
    position: relative;
    background: linear-gradient(180deg, #e7ffa2, #cefb47);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  }

  .btn-accent::before {
    background: linear-gradient(180deg, #f6fce3, #c2ec42);
    border-radius: inherit;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
  }

  .btn-accent:disabled {
    background: #d1d5db;
    box-shadow: none;
  }

  .btn-accent:disabled::before {
    display: none;
  }
}
